<!DOCTYPE html>
<html>
    <head>
        <title>DBbig</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>예약 취소 확인</h1>
        <a href="/">처음으로</a><br><br>

        <a>정말로 취소합니까?</a>
        <form action="/reservation/canceled" method="get">
            <input type="hidden" value=<%= r_id %> name="r_id">
            <input type="submit" value="GO">
        </form>
    </body>
</html>
