<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>'<%= user_id %>'님의 예약 조회 결과</h1>
        <%= for(let i = 0; i < result.length; i++){%>
            <ul>
                안뇽
            </ul>
        <%}%>
    </body>
</html>
