<!DOCTYPE html>
<html>
  <head>
    <title>DBbig</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1>Welcome to CampIN</h1>
      <a href="/signup">회원 가입</a><br>
      <a href="/search">캠핑장 검색</a><br>
      <a href="/reservation">예약 확인</a>
  </body>
</html>
