<!DOCTYPE html>
<html>
  <head>
    <title><%= title[0].phone %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome toddd <%= title %></p>
  </body>
</html>
