<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>예약 확인</h1>
        <form action=" " method="post">
            <input type="text" name="phone" <%="placeholder="%>' 고유 ID (8자리)'>
            <input type="submit" value="조회">
        </form>
        <br><br><a href="../">이전</a>
    </body>
</html>
