<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>예약 확인</h1>
        <form action="reservation/check" method="post">
            <input type="submit" value="조회">
</html>
