<!DOCTYPE html>
<html>
    <head>
        <title>DBbig</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>캠핑장 검색</h1>
        <a href="/">처음으로</a><br><br>
        <form action="/search/name" method="get">
            <input type="text" name="name" <%="placeholder="%>' 이름으로 검색'>
            <input type="submit" value="검색">
        </form>
        <form action="/search/address" method="get">
            <input type="text" name="address" <%="placeholder="%>' 주소로 검색'>
            <input type="submit" value="검색">
        </form>
        <form action="/search/rank" method="get">
            <input type="text" name="rank" <%="placeholder="%>' 등급으로 검색'>
            <input type="submit" value="검색">
        </form>
    </body>
</html>
