<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>'<%= keyword %>' 주소 검색 결과</h1>
        <table>
            <th>캠핑장 이름</th>
            <th>주소</th>
            <th>자세히 보기</th>
        <% for(let i = 0; i < result.length; i++){%>
            <tr>
                <td><% result[i].name %></td>
                <td><% result[i].address %></td>
                <td>
                    <form action="search/detail" method="post">\
                        <input type="submit" value="조회">
                    </form>
                </td>
            </tr>
        <%}%>
    </body>
    <footer>
        <a href="../">이전</a>
        <a href="/">처음으로</a><br><br>
    </footer>
</html>
