<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>'<%= keyword %>' 주소 검색 결과</h1>
        <%= for(let i = 0; i < result.length; i++){%>
            <ul>
                안뇽
            </ul>
        <%}%>
        <br><br><a href="../">이전</a>
        <a href="/">처음으로</a>
    </body>
</html>
